
SEND_MAIL_NOTIFICATION="{{xctrl_send_mail_notification}}"

MYSQL_USER="{{xctrl_mysql_user}}"
MYSQL_PASSWORD="{{xctrl_mysql_password}}"
MYSQL_HOST="{{xctrl_mysql_host}}"
SPAM_THRESHOLD="{{xctrl_spam_threshold}}"
DAEMONS_TO_MONITOR="{{xctrl_daemons_to_monitor}}"

XWIKI_INSTALL_DIR="{{xctrl_xwiki_install_dir}}"
VAR_DIR="{{xctrl_var_dir}}"
MAINTENANCE_ON_RESTARTS="{{xctrl_maintenance_on_restarts}}"
MAINTENANCE_TIME="{{xctrl_maintenance_time}}"
MAINTENANCE_REMINDER="{{xctrl_maintenance_reminder}}"
MAINTENANCE_REMINDER_PERIOD="{{xctrl_maintenance_reminder_period}}"
CLEAN_TEMP_ON_STARTUP="{{xctrl_clean_temp_on_startup}}"
THREADDUMP_ANALYSIS_FILE="{{xctrl_threaddump_analysis_file}}"
MAKE_FIRST_REQUEST="{{xctrl_make_first_request}}"
CHECK_HTTP="{{xctrl_check_http}}"
EXPECT_HTTP_RESPONSE_CODE="{{xctrl_expect_http_response_code}}"
USE_DNS="{{xctrl_use_dns}}"
CHECK_HTTP_URL="{{xctrl_check_http_url}}"

PROCESS_CHECK="{{xctrl_process_check}}"
NAME="{{xctrl_name}}"
TOMCAT_HOME="{{xctrl_tomcat_home}}"
TOMCAT_SCRIPT="{{xctrl_tomcat_script}}"
JAVA_HOME="{{xctrl_java_home}}"
CATALINA_PID="{{xctrl_catalina_pid}}"
MEM_START="{{xctrl_mem_start}}"

MEM_MAX="{{xctrl_mem_max}}"
MAX_PERM_SIZE="{{xctrl_max_perm_size}}"
TOMCAT_USER="{{xctrl_tomcat_user}}"

CATALINA_OPTS="{{xctrl_catalina_opts}}"
